<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Family Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>

    <section>
        <header class="row m-3">
            <h1>Add List</h1>
            <p><a href="/list">Go to List Page</a></p>
        </header>
        <div class="row m-3">
            <form action="/" method="POST" class="row g-4" id="addUser">
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Select Unit *</label>
                    <select id="inputState selectUnit" name="unit" class="form-select border-success" required>
                        <option selected>Select Unit</option>
                        <option>St. Mary's Unit</option>
                        <option>St. Antony's Unit</option>
                        <option>St. George Unit</option>
                        <option>Little Flower Unit</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputText4" class="form-label">House Name *</label>
                    <input type="text" class="form-control border-success" placeholder="House Name" name="houseN"
                        id="houseName" required>
                </div>
                <div class="col-md-4">
                    <label for="inputText4" class="form-label">Phone Number *</label>
                    <input type="number" class="form-control border-success" placeholder="Phone Number" name="phoneN"
                        id="phoneNo" required>
                </div>

                <span class="border border-black mx-auto p-2" id="memberDetail">
                    <div class="row g-4" id="memberDetails-0">
                        <div class="col-md-4 p-3">
                            <label for="inputText4" class="form-label">Name *</label>
                            <input type="text" class="form-control border-success" placeholder="name"
                                name="memberDetails[0][name]" id="fName" required>
                        </div>
                        <div class="col-md-4 p-3">
                            <label for="inputText4" class="form-label">Relation</label>
                            <input type="text" class="form-control border-success" placeholder="Relation"
                                name="memberDetails[0][relation]" id="relation">
                        </div>
                        <div class="row">
                            <div class="col-md-2 p-3">
                                <label for="inputText4" class="form-label">Baptism Date</label>
                                <input type="date" class="form-control border-success" name="memberDetails[0][bDate]"
                                    id="bDate">
                            </div>
                            <div class="col-md-2 p-3">
                                <label for="inputText4" class="form-label">Date of Birth *</label>
                                <input type="date" class="form-control border-success" name="memberDetails[0][dob]"
                                    id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 p-3">
                                <label for="inputText4" class="form-label">Abroad or Not</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input border-success" type="radio"
                                        name="memberDetails[0][abroad]" id="abroadyes" value="yes"
                                        onclick="document.getElementById('placename0').style.visibility = 'visible';">
                                    <label class="form-check-label" for="abroadyes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input border-success" type="radio"
                                        name="memberDetails[0][abroad]" id="abroadno" value="no" checked
                                        onclick="document.getElementById('placename0').style.visibility = 'hidden';">
                                    <label class="form-check-label" for="abroadno">No</label>
                                </div>
                            </div>
                            <div class="col-md-4 p-3" id="placename0" style="visibility: hidden;">
                                <label for="inputText4" class="form-label">Place Name *</label>
                                <input type="text" class="form-control border-success" placeholder="Place Name"
                                    name="memberDetails[0][placeName]" id="placeName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 p-3">
                                <label for="inputText4" class="form-label">Married or Not</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input border-success" type="radio"
                                        name="memberDetails[0][married]" id="marryyes" value="yes"
                                        onclick="document.getElementById('marryCheck0').style.visibility = 'visible';">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input border-success" type="radio"
                                        name="memberDetails[0][married]" id="marryno" value="no" checked
                                        onclick="document.getElementById('marryCheck0').style.visibility = 'hidden';">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                            <div class="col-md-4 p-3" id="marryCheck0" style="visibility: hidden;">
                                <div style="display: flex;">
                                    <div class="col-md-6 p-3">
                                        <label for="inputText4" class="form-label">Date of Marriage *</label>
                                        <input type="date" class="form-control border-success"
                                            name="memberDetails[0][dom]" id="dom">
                                    </div>
                                    <div class="col-md-6 p-3">
                                        <label for="inputEmail4" class="form-label">Partner Name *</label>
                                        <input type="text" class="form-control border-success"
                                            placeholder="Partner Name" name="memberDetails[0][partnerName]"
                                            id="partnerName">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
                <div class="col-12">
                    <button type="button" class="btn btn-primary" id="addMember" style="width: 100%;">Add
                        Member</button>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success" style="width: 100%;">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <script>
        const memberDetails = document.getElementById('memberDetails');
        const addMemberBtn = document.getElementById('addMember');

        let memberCount = 1;
        addMemberBtn.addEventListener('click', () => {
            const newMemberDetails = document.createElement('div');
            newMemberDetails.innerHTML = `
        <hr class="border border-success border-2 opacity-50">
        <div class="row g-4" id="memberDetails-${memberCount}">
            <div class="col-md-4 p-3">
                <label for="inputText4" class="form-label">Name *</label>
                <input type="text" class="form-control border-success" placeholder="name" name="memberDetails[${memberCount}][name]"
                id="fName" required>
            </div>
            <div class="col-md-4 p-3">
                <label for="inputText4" class="form-label">Relation</label>
                <input type="text" class="form-control border-success" placeholder="Relation" name="memberDetails[${memberCount}][relation]"
                id="relation">
            </div>
            <div class="row">
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Baptism Date</label>
                    <input type="date" class="form-control border-success" name="memberDetails[${memberCount}][bDate]" id="bDate">
                </div>
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Date of Birth *</label>
                    <input type="date" class="form-control border-success" name="memberDetails[${memberCount}][dob]" id="dob" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Abroad or Not</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input border-success" type="radio" name="memberDetails[${memberCount}][abroad]"
                        id="abroadyes" value="yes" onclick="document.getElementById('placename${memberCount}').style.visibility = 'visible';">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input border-success" type="radio" name="memberDetails[${memberCount}][abroad]"
                        id="abroadno" value="no" checked onclick="document.getElementById('placename${memberCount}').style.visibility = 'hidden';">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
                <div class="col-md-4 p-3" id="placename${memberCount}" style="visibility: hidden;">
                    <label for="inputText4" class="form-label">Place Name</label>
                    <input type="text" class="form-control border-success" placeholder="Place Name"
                    name="memberDetails[${memberCount}][placeName]" id="placeName">
                </div>
            </div>
            <div class="row" id="marrage" >
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Married or Not</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input border-success" type="radio" name="memberDetails[${memberCount}][married]"
                        id="marryyes" value="yes" onclick="document.getElementById('marryCheck${memberCount}').style.visibility = 'visible';">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input border-success" type="radio" name="memberDetails[${memberCount}][married]"
                        id="marryno" value="no" checked onclick="document.getElementById('marryCheck${memberCount}').style.visibility = 'hidden';">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
                <div class="col-md-4 p-3" id="marryCheck${memberCount}" style="visibility: hidden;">
                    <div style="display: flex;">
                        <div class="col-md-6 p-3">
                            <label for="inputText4" class="form-label">Date of Marrage</label>
                                <input type="date" class="form-control border-success"
                                name="memberDetails[${memberCount}][dom]" id="dom">
                        </div>
                        <div class="col-md-6 p-3">
                            <label for="inputEmail4" class="form-label">Partner Name</label>
                                <input type="text" class="form-control border-success"
                                placeholder="Partner Name" name="memberDetails[${memberCount}][partnerName]"
                                id="partnerName">
                        </div>
                    </div>
                </div>
            </div>
        </div>`
            document.getElementById('memberDetail').appendChild(newMemberDetails);
            memberCount++;
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>