<section>
    <header class="row m-3">
        <h1>Add List</h1>
        <p><a href="/list">Go to List Page</a></p>
    </header>
    <div class="row m-3">
        <form action="/admin" method="POST" class="row g-4" id="addUser">
            <div class="col-md-4">
                <label for="inputState" class="form-label">Select Unit</label>
                <select id="inputState selectUnit" name="unit" class="form-select border-success">
                    <option>St Thomas</option>
                    <option>St Aloyous</option>
                    <option>St Alphonse</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputText4" class="form-label">House Name</label>
                <input type="text" class="form-control border-success" placeholder="House Name" name="houseN"
                    id="houseName">
            </div>
            <div class="col-md-4">
                <label for="inputText4" class="form-label">Phone Number</label>
                <input type="number" class="form-control border-success" placeholder="Phone Number" name="phoneN"
                    id="phoneNo">
            </div>

            <span class="border border-black mx-auto p-2" id="memberDetail">
                <div class="row g-4" id="memberDetails-0">
                    <div class="col-md-4 p-3">
                        <label for="inputText4" class="form-label">Name</label>
                        <input type="text" class="form-control border-success" placeholder="name"
                            name="memberDetails[0][name]" id="fName">
                    </div>
                    <div class="col-md-4 p-3">
                        <label for="inputText4" class="form-label">Relation</label>
                        <input type="text" class="form-control border-success" placeholder="Relation"
                            name="memberDetails[0][relation]" id="relation">
                    </div>
                    <div class="col-md-1 p-3">
                        <label for="inputText4" class="form-label">Age</label>
                        <input type="number" class="form-control border-success" placeholder="Age"
                            name="memberDetails[0][age]" id="age">
                    </div>
                    <div class="row">
                        <div class="col-md-2 p-3">
                            <label for="inputText4" class="form-label">Baptism Date</label>
                            <input type="date" class="form-control border-success" name="memberDetails[0][bDate]"
                                id="bDate">
                        </div>
                        <div class="col-md-2 p-3">
                            <label for="inputText4" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control border-success" name="memberDetails[0][dob]"
                                id="dob">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 p-3">
                            <label for="inputText4" class="form-label">Abroad or Not</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border-success" type="radio"
                                    name="memberDetails[0][abroad]" id="abroadyes" value="yes"
                                    onclick="javascript:abroadCheck();">
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border-success" type="radio"
                                    name="memberDetails[0][abroad]" id="abroadno" value="no"
                                    onclick="javascript:abroadCheck();">
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>
                        <div class="col-md-4 p-3" id="placename">
                            <label for="inputText4" class="form-label">Place Name</label>
                            <input type="text" class="form-control border-success" placeholder="Place Name"
                                name="memberDetails[0][placeName]" id="placeName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 p-3">
                            <label for="inputText4" class="form-label">Married or Not</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border-success" type="radio"
                                    name="memberDetails[0][married]" id="marryyes" value="yes"
                                    onclick="javascript:marrageCheck();">
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border-success" type="radio"
                                    name="memberDetails[0][married]" id="marryno" value="no"
                                    onclick="javascript:marrageCheck();">
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>
                        <div class="col-md-2 p-3">
                            <label for="inputText4" class="form-label">Date of Marrage</label>
                            <input type="date" class="form-control border-success" name="memberDetails[0][dom]"
                                id="dom">
                        </div>
                        <div class="col-md-4 p-3">
                            <label for="inputEmail4" class="form-label">Partner Name</label>
                            <input type="text" class="form-control border-success" placeholder="Partner Name"
                                name="memberDetails[0][partnerName]" id="partnerName">
                        </div>
                    </div>
                </div>
            </span>
            <div class="col-12">
                <button type="button" class="btn btn-primary" id="addMember" style="width: 100%;">Add Member</button>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success" style="width: 100%;">Submit</button>
            </div>
        </form>
    </div>
</section>

<script>
    const memberDetails = document.getElementById('memberDetails');
    const addMemberBtn = document.getElementById('addMember');

    let memberCount = 1;
    addMemberBtn.addEventListener('click', () => {
        const newMemberDetails = document.createElement('div');
        newMemberDetails.innerHTML = `
        <hr class="border border-success border-2 opacity-50">
        <div class="row g-4" id="memberDetails-${memberCount}">
            <div class="col-md-4 p-3">
                <label for="inputText4" class="form-label">Name</label>
                <input type="text" class="form-control border-success" placeholder="name" name="memberDetails[${memberCount}][name]"
                id="fName">
            </div>
            <div class="col-md-4 p-3">
                <label for="inputText4" class="form-label">Relation</label>
                <input type="text" class="form-control border-success" placeholder="Relation" name="memberDetails[${memberCount}][relation]"
                id="relation">
            </div>
            <div class="row">
                <div class="col-md-1 p-3">
                    <label for="inputText4" class="form-label">Age</label>
                    <input type="number" class="form-control border-success" placeholder="Age"
                    name="memberDetails[${memberCount}][age]" id="age">
                </div>
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Baptism Date</label>
                    <input type="date" class="form-control border-success" name="memberDetails[${memberCount}][bDate]" id="bDate">
                </div>
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control border-success" name="memberDetails[${memberCount}][dob]" id="dob">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Abroad or Not</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input border-success" type="radio" name="memberDetails[${memberCount}][abroad]"
                        id="abroadyes" value="yes" onclick="javascript:abroadCheck();">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input border-success" type="radio" name="memberDetails[${memberCount}][abroad]"
                        id="abroadno" value="no" onclick="javascript:abroadCheck();">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
                <div class="col-md-4 p-3" id="placename">
                    <label for="inputText4" class="form-label">Place Name</label>
                    <input type="text" class="form-control border-success" placeholder="Place Name"
                    name="memberDetails[${memberCount}][placeName]" id="placeName">
                </div>
            </div>
            <div class="row" id="marrage" >
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Married or Not</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input border-success" type="radio" name="memberDetails[${memberCount}][married]"
                        id="marryyes" value="yes" onclick="javascript:marrageCheck();">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input border-success" type="radio" name="memberDetails[${memberCount}][married]"
                        id="marryno" value="no" onclick="javascript:marrageCheck();">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
            </div>
                <div class="col-md-2 p-3">
                    <label for="inputText4" class="form-label">Date of Marrage</label>
                    <input type="date" class="form-control border-success" name="memberDetails[${memberCount}][dom]"
                    id="dom">
                </div>
                <div class="col-md-4 p-3">
                    <label for="inputEmail4" class="form-label">Partner Name</label>
                    <input type="text" class="form-control border-success" placeholder="Partner Name"
                    name="memberDetails[${memberCount}][partnerName]" id="partnerName">
                </div>
            </div>
        </div>`
        document.getElementById('memberDetail').appendChild(newMemberDetails);
        memberCount++;
    });
</script>